* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url('../img/augmentedanarchy.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

.logo {
  top: 5%;
  position: fixed;
}

.bejelentkezes {
  top: 35%;
  position: fixed;
}

.container {
  padding: 30px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

@media (max-width: 560px) {
  .btn {
    width: 50%;
  }
}